<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">FunPoint</a>
 </div>
	<ul class="nav navbar-nav navbar-left">
    <%= form_tag(user_session_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search folk" %>
<%= submit_tag "Search" %>
<% end %>
</ul>    
    <ul class="nav navbar-nav navbar-right">
     
     <li><a href="#">Home</a></li>    
     <li><a href="#">Message</a></li>
      <li><a href="#">Profile</a></li>
      
    </ul>
    
  </div>
</nav>

<% if user_signed_in? %>
<h3>Welcome, <%= current_user.username %>!!</h3>
<div class="container">
<ul class="nav navbar-default">
 <!-- <h2>Rounded Corners</h2>
  
 <p>The .img-rounded class adds rounded corners to an image (not available in IE8):</p>-->            
  <img src="cinqueterre.jpg" class="img-rounded"  width="236" height="236"> 
  </ul>
  <ul class="nav navbar-left" color: lightblue >
  
<%= link_to "Edit", edit_user_registration_path, :method => :get %>

<%= link_to "Log Out", destroy_user_session_path, :method => :delete %>

</ul>
<% else %>

<h1>Welcome to FunPoint</h1>
<%= link_to "Sign In", new_user_session_path, :method => :get %>
<%= link_to "Sign Up", new_user_registration_path, :method => :get %>
<% end %>
</body>
</html>